 .topNav{
    margin: auto 0 auto auto;
    display: flex;
    flex-direction: row;
    grid-area: nav;
}

.topMenuItem {
    margin: 0 .3rem;
    text-decoration: none;
    color: var(--green);
    box-shadow: 0 1px 0 0 var(--green);
    transition: all .4s ease;

    font-family: PoetsenOne;
    padding:0 5px;

    white-space: nowrap;
}

.topMenuItem:hover{
    color: var(--red);
}