.sliderContainer{
    --animDur: .3s;

    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: auto 0;
    font-size: .9em;

    max-width: 100vw;
}

.timelineButton {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    opacity: .6;
    border: var(--green) solid 2px;

    display: none;
}
.timelineButton:hover {
    opacity: 1;
}

.tlb-left{
    margin-right: 5px;
}
.tlb-left svg{
    position: absolute;
    top: -2px;
    left: 3px;
}
.tlb-right{
    margin-left: 5px;
}
.tlb-right svg{
    position: absolute;
    top: -2px;
    right: 3px;
}

.slider {
    display: flex;
    flex-direction: row;
    height: 3em;

    grid-column: 2;
}

.element {
    /* border: 1px solid green; */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    transform: translateX(0);
    transition: transform var(--animDur) ease;
    display: flex;
    flex-direction: row;
    justify-content: center;

    user-select:none;
    
}
.middle{
    transform: scale(1.3);
}
.content{
    margin: auto;
    text-align: center;
    border: 1px solid transparent;
    transition: border var(--animDur) ease;
    padding: 2px 10px;
}
.middle .content{
    border: 1px solid var(--green);
}

.anim-enter{
    width: 0;
    opacity: 0;
}
.anim-enter-active{
    width: 100%;
    opacity: 1;
    transition: width var(--animDur) ease, opacity var(--animDur) ease;
}

.anim-exit{
    width: 100%;
    opacity: 1;
}
.anim-exit-active{
    width: 0;
    opacity: 0;
    transition: width var(--animDur) ease, opacity var(--animDur) ease;
}