html, body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 2.7vh;

    --red: #FF0303;
    --green: #1F7131;
    --background1: #063C32;
    --background2: #D5DECC;

    display: grid;
    grid-template-rows: auto 1fr;
}

header{
    background-color: var(--background1);
}

header div.header{
    padding: 15px 15px 0 15px;
    display: grid;
    grid-template-columns: auto auto 1fr;
}

header svg{
    height: 10vh;
    min-height: 50px;
}

header div.title{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin-left: 5px;
}

header div.titleText{
    color: var(--red);
    font-family: Salsa;
    margin-top: auto;
}

header div.titleDivider div{
    height: 3px;
}

header div.dividerTop{
    background-color: var(--green);
}

header div.dividerBottom{
    background-color: var(--red);
}

header div.titleSlogan{
    color: var(--green);
    font-size: .6em;
    margin-bottom: auto;
    font-family: Montserrat;
    font-weight: 600;
}

header div.sectionName{
    background-color: var(--background2);
    display: grid;
    grid-template-columns: auto 1fr;
}

header div.menuButtom:hover{
    box-shadow: 
        0 -3px 0 8px var(--background2) inset, 
        0 -3px 0 10px var(--green) inset;
    transition: all ease .2s;
}

header div.menuButtom svg {
    width: 28px;
    height: 32px;
    margin: 0 15px;
}

header div.menuButtom svg path{
    fill: var(--green);
}

header div.sectionNameText{
    margin: auto auto auto auto;
    font-family: PoetsenOne;
    color: var(--green);
}

main {
    background: var(--background2);
}
/* main div.pageImage{
    background: url(/resources/images/hands.jpg);
    width: 100%;
    height: 100%;
} */
main div.pageContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

main img{
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
}

main div.pageDescription{
    padding: 20px;
    font-size: .7em;
    text-align: justify;
}

main div.buttonReadMore{
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 0 0 1px var(--green) inset;
    text-align: center;
    color: var(--green);
    font-family: 'Noticia Text';
    font-style: italic;
    font-size: .7em;
}

footer {
    background: var(--background2);
}

footer div.scrollHint{
    position: relative;
    overflow: hidden;
    height: 20px;
}

footer svg#scrollHinter{
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    margin: auto;
    transform: translate(-50%, 0);
    transition: opacity .3s ease;
    opacity: 0;
}

footer svg#scrollHinter[style*="opacity: 0"]{
    transition: opacity 1s, transform 1s ease-out;
}

