.splashScreen{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;

    background: var(--background1);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Salsa;
    color: var(--red);

    text-align: center;
}

