.eventsContainer{
    padding: 10px 20px 0 20px;
    margin: 10px 0 0 0;
    
    display: grid;
    grid-template-rows: auto 1fr;

    --animDur: .5s;
}

.animated_left-exit {
    transform: translateX(0);
    opacity: 1;
}
.animated_left-exit-active {
    transform: translateX(100%);
    opacity: 0;
}
.animated_left-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.animated_left-enter-active {
    opacity: 1;
    transform: translateX(0);
}
.animated_left-enter-active, .animated_left-exit-active{
    transition: transform var(--animDur) ease, opacity var(--animDur) ease;
}


.animated_right-exit {
    transform: translateX(0);
    opacity: 1;
}
.animated_right-exit-active {
    transform: translateX(-100%);
    opacity: 0;
}
.animated_right-enter {
    opacity: 0;
    transform: translateX(100%);
}
.animated_right-enter-active {
    opacity: 1;
    transform: translateX(0);
}
.animated_right-enter-active, .animated_right-exit-active{
    transition: transform var(--animDur) ease, opacity var(--animDur) ease;
}