header{
    background-color: var(--background1);
    padding: 5px;
    display: grid;
    grid-template-columns: auto  1fr auto;
    grid-template-areas: "title nav menuButton"
}

.titleLink{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

header svg{
    height: 10vh;
    min-height: 50px;
}

header div.title{
    grid-area: title;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin-left: 5px;
}

header div.titleText{
    color: var(--red);
    font-family: Salsa;
    margin-top: auto;

    white-space: nowrap;
}

header div.titleDivider div{
    height: 3px;
}

header div.dividerTop{
    background-color: var(--green);
}

header div.dividerBottom{
    background-color: var(--red);
}

header div.titleSlogan{
    color: var(--green);
    font-size: .6em;
    margin-bottom: auto;
    font-family: Montserrat;
    font-weight: 600;
}

.menuButtom {
    width: 2em;
    height: 1.5em;
    flex-direction: column;
    justify-content: space-around;
    padding: 3px;
    /* margin: 3px 0 0 3px; */
    margin: auto;
    display: none;
}

.line{
    width: 100%;
    height: .25em;
    background: var(--green);
    transition: all .4s ease;
}

.menuButtom:hover .line{
background: var(--red);

}

.menu{
    margin: auto 0 auto auto;
    position: relative;
}

.sideMenu{
    display: none;
    grid-template-rows: auto 1fr auto;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background-color: var(--background1);
    margin-left: auto;
    z-index: 1001;
}

.closeSidemMenuButtom {
    position: relative;
    grid-row: 1;
    width: 1.5em;
    height: 1.5em;
    opacity: 0.5;
    padding: 3px;
    margin: 17px 5px auto auto;
}
.closeSidemMenuButtom:hover {
    opacity: 1;
}
.closeSidemMenuButtom:before, .closeSidemMenuButtom:after {
    position: absolute;
    left: 40%;
    content: ' ';
    height: 1.5em;
    width: .25em;
    border-radius: 2px;
    
    background-color: var(--green);
}
.closeSidemMenuButtom:before {
    transform: rotate(45deg);
}
.closeSidemMenuButtom:after {
    transform: rotate(-45deg);
}

@media screen and ( max-width: 700px) {

.nav{
    display: none;
}
.menuButtom{
    display: flex;
}
.sideMenuContainer{
    display: block;
}
.sideMenu{
    display: grid;
}
.backDropShadow{
    position: fixed;
}
}

