.sideNav{
    margin: 100px auto auto auto;
    display: flex;
    flex-direction: column;
    /* grid-area: nav; */
}

.sideMenuItem {
    /* margin: .5em .3rem; */
    text-decoration: none;
    color: var(--green);
    /* box-shadow: 0 1px 0 0 var(--green); */
    transition: all .4s ease;

    font-family: PoetsenOne;
    padding: .6em .5em;
    text-align: center;
}

.sideMenuItem:hover{
    color: var(--red);
}