.blogPage{
    display: flex;
    flex-direction: column;
}

.postCard{
    border: solid 1px var(--green);
    margin: 3px;
    padding: 5px;
}

.postCardTitle{
    text-decoration: none;
    color: var(--green);
    font-weight: 600;
}
.postCardTitle:hover{
    color: var(--red);
}

.shortText{
    display: block;
    flex-direction: column;
    font-size: .6em;
    margin-top: 10px;
    /* text-justify: ; */
    text-align:justify;
    text-indent: 2em;
}

.postCardcreationDate{
    font-size: .5em;;
    font-weight: 600;
    margin-top: 10px;
}
.postReadButton{
    /* border: solid 1px var(--background1); */
    border-radius: 4px;
    text-decoration: none;
    color: var(--green);
    margin: 0 0 0 auto;
    padding: 1px 7px;
    white-space: nowrap;
    font-style: italic;
    font-weight: 600;
    /* background: var(--background1); */
}
.postReadButton:hover{
    color: var(--red);
}

.loadPostsButton{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
}

.loadPostsButton svg{
    width: 1em;
    height: 1em;
    margin: auto 0 auto 5px;
    transform: translateX(0);
    transition: transform .3s ease;
}

.loadPostsButton:hover{
    color: var(--red);
}

.loadPostsButton:hover svg{
    animation: spin .7s ease;
}

@keyframes spin { 
    0% { transform:rotateZ(0); } 
    100% { transform:rotateZ(360deg); } 
}