.pageContent{
    display: grid;
    grid-template-rows: auto 1fr;

}

.imageContainer{
    padding-top: 40%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.pageContent a{
    text-decoration: none;
    color: var(--green);
    border: solid var(--green) 1px;
    border-radius: 5px;
    padding: 3px 10px;
}

.pageContent a:hover{
    color: var(--red);
}

@media (orientation: landscape) {
    .imageContainer {
        padding: unset;
        width: 80%;
        height: 32vmax;
        margin: auto;
    }
}

@media (orientation: landscape)
    and (max-resolution: 120dpi)
{
    .imageContainer {
        padding: unset;
        width: 70%;
        height: 25vmax;
        margin: auto;
    }

    .pageImageSpacer{
        margin-top: 2rem;
    }
}