html, body, div#root{
    height: 100%;
    --min-width: 200px;
    min-width: var(--min-width)
}

body {
    margin: 0;
    font-size: 2.7vh;

    --red: #FF0303;
    --green: #1F7131;
    --background1: #063C32;
    --background2: #D5DECC;

    
    background-color: var(--background2);

    font-family: Montserrat;
    color: var(--green);
}

#root{
    display: grid;
    grid-template-rows: auto 1fr;
}




@media (orientation: landscape)
    and (min-resolution: 120dpi)
{
    body {
        font-size: 6vh;
    }
}