.eventContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.eventTitle{
    margin: 0;
    font-style: italic;
    font-size: 2em;
    font-weight: 600;
}

.eventData{
    font-size: .5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;
}

.eventDate{
    margin: auto 10px;
    font-style: italic;
}

.eventLocation {
    margin: auto 10px;
    display: flex;
    flex-direction: row;
    border: solid var(--green) 1px;
    text-decoration: none;
    color: var(--green);
    padding: 3px 10px;
    border-radius: 2px;
    font-weight: 600;
}

.eventLocation svg{
    width: 13px;
    height: 13px;
    margin: auto 5px auto 0;
    color: var(--red)
}

.eventDescription {
    text-align: justify;
}